:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  --regular-weight: 400;
  --medium-weight: 500;
  --bold-weight: 700;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: var(--regular-weight);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/bg-pattern-top-desktop.svg),
    url(/images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-size: 58.4rem 36.2rem, 108.5rem 67.3rem;
  background-position: top left, bottom 0% right 0%;
}

.heading-primary {
  font-size: 5.6rem;
  font-weight: var(--bold-weight);
  letter-spacing: -2px;
  line-height: 0.86;
  color: var(--very-dark-magenta);
  margin-bottom: 2.6rem;
}

.intro-container {
  width: 44.5rem;
}

.intro-desc {
  font-size: 1.9rem;
  font-weight: var(--medium-weight);
  letter-spacing: -0.63px;
  line-height: 1.3;
  color: var(--dark-grayish-magenta);
}

.upper-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 7.1rem;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.review {
  width: 44.5rem;
  height: 5.6rem;
  background-color: var(--light-grayish-magenta);
  padding: 0 3.2rem;
  border-radius: 8px;
  display: flex;
  gap: 3.25rem;
  align-items: center;
}

.review-top {
  align-self: flex-start;
}

.review-middle {
  align-self: center;
}

.review-bottom {
  align-self: flex-end;
}

.stars {
  display: flex;
  gap: 8.45px;
}

.star {
  width: 16.55px;
  height: 15.77px;
}

.review-desc {
  font-size: 1.7rem;
  font-weight: var(--bold-weight);
  color: var(--very-dark-magenta);
}

.testimonials-container {
  height: 26.6rem;
  display: flex;
  gap: 3rem;
}

.testimonial-card {
  width: 35rem;
  height: 23.4rem;
  background-color: var(--very-dark-magenta);
  padding: 4rem 3.2rem 3.5rem 3.2rem;
  border-radius: 8px;
}

.person-id {
  display: flex;
  gap: 2.3rem;
  align-items: center;
  margin-bottom: 3.1rem;
}

.person-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.person-name {
  font-size: 1.7rem;
  font-weight: var(--bold-weight);
  color: var(--white);
  margin-bottom: 0.4rem;
}

.person-desc {
  font-size: 1.7rem;
  color: var(--soft-pink);
}

.quote {
  font-size: 1.7rem;
  font-weight: var(--medium-weight);
  color: var(--white);
  letter-spacing: -0.3px;
  line-height: 1.294;
}

.card-left {
  align-self: flex-start;
}

.card-middle {
  align-self: center;
}

.card-right {
  align-self: flex-end;
}
